@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --blue: #007bff;
    --black: rgb(51, 51, 51);
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --border: .2rem solid rgba(0,0,0,.1);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none !important;
    /* text-transform: capitalize; */
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--blue);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}

section{
    padding: 7rem 2rem;

}

.heading{
    text-align: center;
    font-size: 4rem;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.link-btn{
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: .5rem;
    background-color: var(--blue);
    cursor: pointer;
    font-size: 1.7rem;
    color: var(--white);
}

.link-btn:hover{
    background-color:var(--light-color); /*var(--black)?!?!*/
    color: var(--white);

}
.header{
    background-color: var(--black);
    padding: 2rem;
    /* border-bottom: .2rem solid rgba(0,0,0,.1);  var(--border)?!?!? */
    transition: .3s ease-in;
    box-shadow: var(--box-shadow);
}

/* .header.active{
    box-shadow: var(--box-shadow);
    border:0;
    transition: .3s ease-in;
 } */
/* .header .logotype{
    display: flex;
    flex-direction: column;
    line-height: .6rem;
} */

.header .logo{
    font-size: 3rem;
    font-weight: 700;
    color: var(--white);
}

.header .logo span{
    color: var(--blue);
}


.header .logotype img{
    width: 30rem;
}

.header .nav a{
    margin: 0 1rem;
    font-size: 1.7rem;
    color: var(--white);
}

.header .nav a:hover{
    color: var(--blue);
}

#menu-btn{
    font-size: 2.8rem;
    color:var(--white);
    cursor: pointer;
    display: none;
}

/* HOME */

.home{
  background-color: var(--light-color);
}

.parallax{
    background: url(assets/herobg.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .content{

    background: rgba(51,51,51, 0.9);
    padding: 2rem;
    border-radius: .5rem;
    width: 67rem;
}

.home .content h1{
    color: var(--white);
    font-size: 5rem;
    text-transform: uppercase;

}

.home .content p{
    line-height: 2;
    font-size: 1.4rem;
    color: var(--white);
    padding: 1rem 0;
}

/* ABOUT */
.about .row{
    min-height: 60vh;
}

.about .content span{
    font-size: 2.5rem;
    color: var(--blue);
}

.about .content h3{
    font-size: 4rem;
    color: var(--black);
    margin-top: 1rem;
}

.about .content p{
    font-size: 1.5rem;
    color: var(--black);
    line-height: 2;
}

.about img{
    border-radius: 1em;
}


/* services */


.services{
    background-color: var(--light-bg);
}

.services .heading {
    color: var(--light-bg);

}

.services .partner{
    padding: 5rem;
}

.services .partner .heading{
    color:var(--light-bg);
}


.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 2rem;
}

.services .box-container .box{
    text-align: center;
    padding: 2rem;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}


.services .box-container .box .fa-solid{
    font-size: 8rem;
    color: var(--blue);
    margin: 1rem 0;
}


.services .box-container .box h3{
    font-size: 2.5rem;
    text-transform: capitalize;
    padding: 1rem 0;
    color: var(--black);
}


.services .box-container .box p{
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 2;
}

/* support */

.support{
    margin: 4rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.support .support_menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem 8rem;
}

.support .support_menu .link-btn{
    width: 20rem;
    text-align: center;
}

.support .box-container .form{
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    box-shadow: var(--box-shadow);

}
.support .box-container .form .fa-times{
    font-size: 3rem;
    top: .8rem;
    right: .8rem;
    position: absolute;
    cursor: pointer;
}

.support .box-container .form .box{
    width: 35rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    background-color: var(--white);
    padding: 1.2rem 1.4rem;
    font-size: 1.7rem;
    color: var(--black);
}

.support .box-container .form .box input{
    text-transform: uppercase;
    width: 100%;
}

.support .box-container .form .box textarea{
    text-transform: capitalize;
    width: 100%;
}


/* .glass{
    width: 100%;
    height:100em;
    margin: 0;
    padding: 0;
    position: fixed;
}
.glass.active{
    -webkit-filter: blur(4px);
    filter: blur(4px);
    z-index: 5;
    background-color:rgba(238, 238, 238, 0.199);
}
 */
    /* ITSUPPORT */

.support .box-container .form{
    display: flex;
    align-items: center;
}

.support .box-container .it-form{
    display: none;
    position: fixed;
    top: 15rem;
    z-index: 9;
}

.support .box-container .it-form.active{
    display: block;
}

    /* FELANMÄLAN */
.support .box-container .fel-form{
    display: none;
    position: fixed;
    top: 15rem;
    z-index: 9;
}
.support .box-container .fel-form.active{
    display: block;
}

    /* TONERANMÄLAN */
.support .box-container .sup-form{
    display: none;
    position: fixed;
    top: 15rem;
    z-index: 9;
}
.support .box-container .sup-form.active{
    display: block;
}
    /* MÄTARSTÄLLNING */

.support .box-container .count-form{
    display: none;
    position: fixed;
    top: 15rem;
    z-index: 9;
}
.support .box-container .count-form.active{
       display: block;
}

.support .image{
    max-width: 500px;
    height: auto;
    border-radius: 1em;
}



/* contact */
.contact {
    background-color: var(--light-bg);
}

.contact .heading{
    color: var(--light-bg);
}
.contact .box-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); */
    gap: 2rem 2rem;
}

.contact .box-container .box{
    padding: 1rem;
    text-align: left;
    padding: 2rem;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact .box span{
   font-weight: bolder
}
.contact .box h3{
    color: var(--black);
    font-size: 2rem;
    font-weight: bolder;
}

.contact .box h2{
    color: var(--blue);
    font-size: 2.5rem;
    font-weight: bolder;
}

.contact .box p{
    color: var(--black);
    font-size: 1.5rem;
}

.contact .box .contact_photo{
    width:200px;
    height:200px;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    border: 2px solid var(--blue);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.footer{
    background-color: var(--black);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.footer .box-container .box{
    text-align: center;
}

.footer .box-container i{
    height: 5rem;
    width: 5rem;
    line-height: 4rem;
    font-size: 2.5rem;
    color: var(--blue);
    margin-bottom: 1rem;
}

.footer .box-container h3{
    color: var(--white);
    font-size: 2rem;
    margin: 1rem 0;
}

.footer .box-container p{
    color: var(--white);
    font-size: 1.5rem;
    line-height: 2;
}

.footer .qloser img{
    width: 15rem;
    padding: 20px 10px;
}

.footer .credit{
    color: var(--white);
}

.footer .credit span{
    color: var(--blue);
}

/* MOBILE */

@media (max-width:991px) {

    html{
        font-size: 55%;
    }

    .header .link-btn{
        display: none;
    }

    section{
        padding: 5rem 2rem;
    }

    .support .support_menu{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
    }

    .contact .box-container{
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); */
        gap: 2rem 2rem;
    }

}


@media (max-width:768px) {

    section{
        padding: 2rem 1rem;
    }

    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .nav{
        position: absolute;
        top:99%; left:0; right:0;
        background-color: var(--black);
        border-top: .2rem solid rgba(0,0,0,.1);
        border-bottom: .2rem solid rgba(0,0,0,.1);
        padding:1rem 0;
        text-align: center;
        flex-flow: column;
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
        transition: .2s linear;
    }

    .header .nav.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        transition: .2s linear;
    }

    .header .nav a{
        margin: 1rem 0;
        font-size: 2rem;
    }

    .contact .box-container{
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); */
        gap: 2rem 2rem;
    }

    .contact .box .contact_photo{
        width:150px;
        height:150px;
    }

}
@media (max-width:450px) {

    html{
        font-size: 50%;
    }

    .home{
        background-position: left;
    }

    .heading{
        font-size: 3rem;
    }

    .contact .contact_card{
        width: 2rem;
        justify-content: left;
    }

    .contact .box-container{
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); */
        gap: 2rem 2rem;
    }

    .contact .box .contact_photo{
        width:100px;
        height:100px;
    }

    .support .support_menu{
        display: grid;
        grid-template-columns: 1fr;
        gap: 5rem;
    }

    .support .support_menu .link-btn{
        width: 30rem;
    }

}